/*
 * Globals
 */
$breakpoint-tablet: 768px;
$breakpoint-phone: 425px;
$breakpoint-phone-medium: 375px;
$breakpoint-phone-small: 320px;

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333 !important;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  color: white;
}

.nav {
  background-color: $darkgrey;
}

.dropdown-menu-dark {
  background-color: $darkgrey !important;
  padding: 0 !important;
  border: 1px solid grey !important;
}

.dropdown-item-dark {
  color: white !important;
}

.about {
  color: grey;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  height: 90%
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.console {
  border: 5px solid white;
  margin: 0 2rem 0.1rem 2rem;
  border-radius: 15px;
  height: 100%;
}

.version {
  color: grey;
  float: right;
  margin-top: -55px;
  margin-right: 42px;
  font-size: 0.7rem;
}

@media (max-width: $breakpoint-tablet) {
    .cover {
      padding: 0.5rem 0.7rem;
      height: 87%;
    }
    .console {
      margin: 0;
    }
     .masthead-brand {
        font-size: 1.5rem;
      }

    .version {
      margin-top: -20px;
      margin-right: 12px;
    }
}

@media (max-width: $breakpoint-phone) {
    .cover {
      padding: 0.5rem 0.5rem;
      padding-top: 0;
      height: 88%;
    }
    .console {
      border: 3px solid white;
    }
    .masthead-brand {
        font-size: 1.2rem;
      }
}

.score {
  position: absolute;
  margin-top: -18px;
  background-color: #333;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.tetris {
  color: white;
  min-height: 100%;
  display: flex;
    flex-wrap: wrap;

  .container {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
  }

  .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    margin: 1rem;

    div {
      //height: 30px;
      //width: 30px;
      flex-basis: 10%;
    }

    .hide {
      height: 0 !important;
      flex-basis: 0% !important;
    }
  }

  .tetromino {
    background-color: blue;
  }

  .mini-grid {
    min-width: 120px;
    width: 120px;
    height: 120px;
     margin: 1rem 1rem 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
  }

  .mini-grid div {
    height: 30px;
    width: 30px;
  }

  .controls {
    .arrowButtons {
      margin-top: 60%;
      button {
        margin: 2px;
      }
    }

    .wide {
      width: 50px;
    }

    .highscore {
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
    }
  }

  @media (max-width: $breakpoint-tablet) {
      .grid {
        margin: 1rem 0.5rem;
      }
      .mini-grid {
        margin: 1rem 0.5rem;
      }
      .container {
        padding: 0rem 0.5rem;
      }

      .score {
        margin-top: -13px;
        padding: 0 0.7rem;
        font-size: 1rem;
      }
  }

  @media (max-width: $breakpoint-phone) {
      .grid {
        margin: 0.7rem 0.2rem;
      }
      .mini-grid {
        margin: 0.7rem 0.2rem;
        min-width: 80px;
        width: 80px;
        height: 80px;
      }
      .mini-grid div {
        height: 20px;
        width: 20px;
      }
      .container {
        padding: 0rem 0.2rem;

        .btn {
          font-size: 0.7rem;
        }
      }

      .score {
        margin-top: -9px;
        padding: 0 0.5rem;
        font-size: 0.8rem;
      }
  }
}

.scoreModals {
  color: $red;

  .modal-header {
    background-color: red;
    color: white;
    padding: 0.5rem;
  }

  .modal-footer {
    background-color: red;
    color: white;
    padding: 0;
  }

  .modal-body {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
  }
}

.pacman {
  color: white;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;

  .container {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    min-width: 566px;
    height: 560px;
    border: solid black;
  }
    
  .grid div {
      width: 20px;
      height: 20px;
  }

  .pac-dot {
      background-color: green;   
      border: 5px solid $darkgrey;
      box-sizing: border-box;
  }

  .wall {
      background-color: blue;
  }

  .power-pellet {
      background-color: $orange;
      border-radius: 10px;
  }

  .blinky {
      background-color: red;
      border: none;
  }

  .pinky {
      background-color: pink;
      border: none;
  }

  .inky {
      background-color: cyan;
      border: none;
  }

  .clyde {
      background-color: orange;
      border: none;     
  }

  .pac-man {
      background-color: yellow;
      border-radius: 10px;
  }

  .scared-ghost {
      background-color: aquamarine;
      border: none;
  }

  .controls {
    .arrowButtons {
      margin-top: 60%;
      button {
        margin: 2px;
      }
    }

    .wide {
      width: 50px;
    }

    .highscore {
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    .grid {
      min-width: 426px;
      width: 426px;
      height: 420px;
    }
    .grid div {
      width: 15px;
      height: 15px;
    }
  }

  @media (max-width: $breakpoint-phone) {
    .container {
      flex-direction: column;
      padding-left: 0;
      margin-left: -5px;
    }

    .score {
      position: relative;
      margin-top: -22px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0;
      font-size: 1rem;
    }

    .controls {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      margin-left: 15px;

      .arrowButtons {
        margin-top: 0;
        order: 2;
        button {
          margin: 2px;
          padding: 0 1rem;
          height: 24px;
        }
      }

      .wide {
        width: 50px;
      }

      .btn {
        order: 3;
        margin: 2px;
          padding: 0 1rem;
          height: 24px;
      }

      .highscore {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        order: 1;
      }
    }
  }

  @media (max-width: $breakpoint-phone-medium) {
    .container {
      flex-direction: column;
      padding-left: 0;
      margin-left: -5px;
    }
  }

  @media (max-width: $breakpoint-phone-small) {
    .grid {
      min-width: 314px;
      width: 314px;
      height: 314px;
    }
    .grid div {
      width: 11px;
      height: 11px;
    }

    .container {
      flex-direction: column;
      padding-left: 0;
      margin-left: -5px;
    }

    .arrowButtons {
      margin-top: 0px;
      button {
        padding: 0 0 !important;
        width: 37px !important;
      }
    }

    .score {
      margin-top: -10px;
      margin-bottom: -7px
    }
  }
  }

  

  

