$blue: #336699;
$blue2: #0080FF;
$blue3: #0000FF;
$lightblue: #00FFFF;
$teal: #009999;
$green: #669966;
$yellow: #FFFF00;
$red: #CC3333;
$orange: #FF6600;
$maroon: #990033;
$purple:  #660099;
$pink: #FF0080;
$lime: #80FF00;